@font-face {
  font-display: swap;
  font-family: 'lato_regular';
  src: url("../fonts/LatoLatin-Regular.woff2") format("woff2"), url("../fonts/LatoLatin-Regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
@font-face {
  font-display: swap;
  font-family: 'lato_light';
  src: url("../fonts/LatoLatin-Light.woff2") format("woff2"), url("../fonts/LatoLatin-Light.woff") format("woff");
  font-style: normal;
  font-weight: normal;
  font-display: swap; }
@font-face {
  font-display: swap;
  font-family: 'lato_hairline';
  src: url("../fonts/LatoLatin-Hairline.woff2") format("woff2"), url("../fonts/LatoLatin-Hairline.woff") format("woff");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
@font-face {
  font-display: swap;
  font-family: 'lato_semibold';
  src: url("../fonts/LatoLatin-Semibold.woff2") format("woff2"), url("../fonts/LatoLatin-Semibold.woff") format("woff");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
@font-face {
  font-display: swap;
  font-family: 'lato_bold';
  src: url("../fonts//LatoLatin-Bold.woff2") format("woff2"), url("../fonts//LatoLatin-Bold.woff") format("woff");
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility; }
html,
body {
  height: 100%;
  width: 100%; }

body {
  font-family: 'lato_regular', sans-serif;
  font-size: 18px;
  line-height: 26px; }

hr {
  border-color: #00ADE6;
  border-width: 3px;
  max-width: 50px; }

hr.light {
  border-color: white; }

a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #00ADE6;
  outline: none; }
  a:hover, a:focus {
    color: #0087b3;
    outline: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'lato_light', sans-serif; }

h2 {
  color: #00ADE6;
  margin-bottom: 30px;
  font-size: 32px;
  font-weight: 300; }

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px; }

.bg-primary {
  background-color: #00ADE6; }

.bg-dark {
  background-color: #102F52;
  color: white; }

.text-white {
  color: #ffffff; }

.text-faded {
  color: rgba(255, 255, 255, 0.7); }

.text-muted {
  color: #ffffff;
  font-size: 12px; }

section {
  padding: 40px 0; }

aside {
  padding: 50px 0; }

.no-padding {
  padding: 0; }

.list-group {
  margin-bottom: 0; }
  .list-group .list-group-item {
    border-width: 0;
    min-height: 50px; }
    .list-group .list-group-item img {
      margin-right: 20px; }
    .list-group .list-group-item .list-group-item-text {
      line-height: 26px;
      padding-right: 20px; }

.navbar-default {
  background-color: white;
  border-color: rgba(16, 47, 82, 0.5);
  border-width: 0;
  font-family: 'lato_regular', Arial, sans-serif;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s; }
  .navbar-default .navbar-brand {
    padding: 8px; }
  .navbar-default .navbar-notice {
    padding-top: 10px;
    padding-left: 70px;
    font-weight: 700; }
  .navbar-default .navbar-header .navbar-brand, .navbar-default .navbar-notice {
    color: white;
    font-family: 'lato_regular', Arial, sans-serif;
    font-size: 10px;
    line-height: 13px; }
  .navbar-default .nav > li > a,
  .navbar-default .nav > li > a:focus {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    color: #102F52;
    outline: none; }
    .navbar-default .nav > li > a:hover,
    .navbar-default .nav > li > a:focus:hover {
      color: #00ADE6; }
  .navbar-default .nav > li.active > a,
  .navbar-default .nav > li.active > a:focus {
    color: #00ADE6 !important;
    background-color: transparent; }
    .navbar-default .nav > li.active > a:hover,
    .navbar-default .nav > li.active > a:focus:hover {
      background-color: transparent; }
  .navbar-default .nav.navbar-nav {
    float: none;
    width: 100%;
    text-align: center; }
    .navbar-default .nav.navbar-nav > li {
      float: none;
      display: inline-block;
      padding-bottom: 0px; }
      .navbar-default .nav.navbar-nav > li > a {
        padding-bottom: 0px; }
  @media (min-width: 769px) {
    .navbar-default {
      min-height: 85px;
      background-color: transparent; }
      .navbar-default .nav > li > a,
      .navbar-default .nav > li > a:focus {
        color: rgba(255, 255, 255, 0.7); }
        .navbar-default .nav > li > a:hover,
        .navbar-default .nav > li > a:focus:hover {
          color: white; }
      .navbar-default.affix {
        background-color: white;
        border-color: rgba(16, 47, 82, 0.5); }
        .navbar-default.affix .navbar-header .navbar-brand, .navbar-default.affix .navbar-notice {
          color: #000000; }
        .navbar-default.affix .nav > li > a,
        .navbar-default.affix .nav > li > a:focus {
          color: #102F52; }
          .navbar-default.affix .nav > li > a:hover,
          .navbar-default.affix .nav > li > a:focus:hover {
            color: #00ADE6; } }

header {
  position: relative;
  width: 100%;
  min-height: 600px;
  background-repeat: no-repeat;
  background-color: #102F52;
  background-size: 100% auto;
  background-position: center top;
  background-image: url("../img/header.jpg");
  text-align: center;
  color: white; }
  header .header-content {
    position: relative;
    text-align: center;
    padding: 100px 15px 100px;
    width: 100%; }
    header .header-content .header-content-inner h1 {
      margin-top: 0;
      margin-bottom: 60px; }
      @media (min-width: 769px) {
        header .header-content .header-content-inner h1 {
          font-size: 46px !important; } }
    header .header-content .header-content-inner p {
      font-weight: 300;
      color: rgba(255, 255, 255, 0.7);
      font-size: 16px;
      margin-bottom: 50px; }
  @media (min-width: 769px) {
    header {
      min-height: 100%; }
      header .header-content {
        padding: 200px 15px 20px; }
        header .header-content .header-content-inner {
          max-width: 1000px;
          margin-left: auto;
          margin-right: auto; }
          header .header-content .header-content-inner p {
            font-size: 18px;
            max-width: 80%;
            margin-left: auto;
            margin-right: auto; }
      header .sunrun-stats-block {
        height: 320px; }
        header .sunrun-stats-block h4 {
          font-size: 50px;
          margin: 154px 0 14px 0; }
        header .sunrun-stats-block p {
          font-size: 14px;
          letter-spacing: 0.02em; }
        header .sunrun-stats-block hr {
          background-color: #fff;
          border-style: none;
          color: #fff;
          height: 1px;
          left: 100%;
          margin-left: -35px;
          position: absolute;
          top: 81px;
          width: 70px; }
        header .sunrun-stats-block .sunrun-at-glance {
          background: url("../img/sunrun-at-a-glance.svg") no-repeat center 40px;
          background-size: auto auto;
          background-size: 198px 78px;
          height: 100%; }
          header .sunrun-stats-block .sunrun-at-glance p {
            margin: 154px auto 0 auto;
            text-align: left;
            width: 198px; }
        header .sunrun-stats-block .col-md-2 {
          background-position: center 49px;
          background-repeat: no-repeat;
          min-width: 170px;
          position: relative;
          text-transform: uppercase; }
          header .sunrun-stats-block .col-md-2.foam-finger {
            background-image: url("../img/foam-finger.svg");
            background-size: 51px 83px; }
          header .sunrun-stats-block .col-md-2.people {
            background-image: url("../img/people.svg");
            background-size: 87px 60px; }
          header .sunrun-stats-block .col-md-2.google-pin {
            background-image: url("../img/google-pin-white.svg");
            background-size: 47px 67px; }
          header .sunrun-stats-block .col-md-2.lightning {
            background-image: url("../img/lightning.svg");
            background-size: 72px 72px; }
        header .sunrun-stats-block .text-muted {
          margin-bottom: 10px;
          margin-top: 20px;
          font-size: 12px; } }

.section-heading {
  margin-top: 0; }

#member-benefits {
  background-image: url("../img/bg-gradient-triangle.png");
  background-repeat: no-repeat;
  background-size: 62% 65%;
  background-position: right bottom;
  padding-bottom: 10px; }
  #member-benefits .bottom-50 {
    margin-bottom: 50px; }
  #member-benefits ul li {
    margin-bottom: 30px; }
  #member-benefits .text-muted {
    color: #ffffff;
    font-size: 12px;
    margin-bottom: 0; }

#products .top-bg {
  background-image: url("../img/bg-blue-border.png");
  background-repeat: repeat-x;
  background-size: auto auto;
  background-position: center bottom;
  padding-bottom: 30px; }
  #products .top-bg .list-group .list-group-item .list-group-item-text {
    max-width: 560px; }
#products .bottom-bg {
  background-image: url("../img/bb_az_power-outage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 380px; }
  #products .bottom-bg h2 {
    margin-top: 60px; }
  #products .bottom-bg .list-group .list-group-item {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0); }
  #products .bottom-bg .text-muted {
    margin-top: 20px;
    margin-bottom: 10px; }

#what-to-expect .top-bg {
  background-image: url("../img/bg-triangle-top-right.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top right; }
  #what-to-expect .top-bg .list-group .list-group-item {
    min-height: 70px; }

#waranty .full-bg {
  background-image: url("../img/bg-waranty.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  min-height: 687px;
  display: flex;
  flex-direction: row;
  align-items: center; }
  #waranty .full-bg .caption-block {
    background-color: #ffffff;
    color: #5A5A5A;
    line-height: 27px;
    padding: 40px;
    max-width: 60%; }

#why-sunrun .triple-hero-banner .hero-banner-block {
  height: 313px;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  color: #FFFFFF; }
  #why-sunrun .triple-hero-banner .hero-banner-block a {
    color: #ffffff; }
  #why-sunrun .triple-hero-banner .hero-banner-block .link-spanner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1; }
  #why-sunrun .triple-hero-banner .hero-banner-block .bg-overlay {
    padding: 30px 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25); }
  #why-sunrun .triple-hero-banner .hero-banner-block h3 {
    color: #fff;
    margin: 0 0 30px;
    font-size: 44px;
    font-weight: 300; }
  #why-sunrun .triple-hero-banner .hero-banner-block.block-link {
    position: relative; }
    #why-sunrun .triple-hero-banner .hero-banner-block.block-link .more:after {
      padding-left: 10px;
      font-size: 12px;
      line-height: 14px;
      font-family: 'FontAwesome';
      content: "\f05a";
      display: inline-block;
      position: relative;
      top: 0;
      left: 0;
      transition: all 0.2s ease-out; }
    #why-sunrun .triple-hero-banner .hero-banner-block.block-link:hover .more {
      text-decoration: underline; }

#faqs .pane-faq-content {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px; }
  #faqs .pane-faq-content .panel-group .panel-default {
    padding-left: 0;
    padding-right: 0;
    border-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom: .5px solid #bcbec0;
    border-left-color: transparent;
    box-shadow: 0 0 0 transparent;
    padding-left: 10px;
    padding-right: 10px; }
    #faqs .pane-faq-content .panel-group .panel-default .panel-heading {
      background-color: transparent;
      border-color: transparent;
      padding-left: 0; }
      #faqs .pane-faq-content .panel-group .panel-default .panel-heading .panel-title {
        line-height: 24px; }
        #faqs .pane-faq-content .panel-group .panel-default .panel-heading .panel-title .collapse-toggle:hover {
          text-decoration: none; }
        #faqs .pane-faq-content .panel-group .panel-default .panel-heading .panel-title .collapse-toggle .control {
          font-size: 15px;
          color: #00ade6;
          margin-right: 10px; }
          #faqs .pane-faq-content .panel-group .panel-default .panel-heading .panel-title .collapse-toggle .control:before {
            content: '['; }
          #faqs .pane-faq-content .panel-group .panel-default .panel-heading .panel-title .collapse-toggle .control:after {
            content: ']'; }
          #faqs .pane-faq-content .panel-group .panel-default .panel-heading .panel-title .collapse-toggle .control .plus-minus {
            display: inline-block;
            width: 10px;
            text-align: center;
            color: #00ade6; }
            #faqs .pane-faq-content .panel-group .panel-default .panel-heading .panel-title .collapse-toggle .control .plus-minus:after {
              font-size: 10px;
              content: "\2014";
              vertical-align: top;
              font-family: 'lato_light',sans-serif; }
        #faqs .pane-faq-content .panel-group .panel-default .panel-heading .panel-title .collapse-toggle.collapsed .control .plus-minus:after {
          font-size: 15px;
          content: "+"; }

.text-primary {
  color: #000000; }

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0; }

.btn-default {
  color: #102F52;
  background-color: white;
  border-color: white;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s; }
  .btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle .btn-default {
    color: #102F52;
    background-color: #f2f2f2;
    border-color: #ededed; }
  .btn-default:active, .btn-default.active, .open > .dropdown-toggle .btn-default {
    background-image: none; }
  .btn-default.disabled, .btn-default.disabled:hover, .btn-default.disabled:focus, .btn-default.disabled.focus, .btn-default.disabled:active, .btn-default.disabled.active, .btn-default[disabled], .btn-default[disabled]:hover, .btn-default[disabled]:focus, .btn-default[disabled].focus, .btn-default[disabled]:active, .btn-default[disabled].active, fieldset[disabled] .btn-default, fieldset[disabled] .btn-default:hover, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default.focus, fieldset[disabled] .btn-default:active, fieldset[disabled] .btn-default.active {
    background-color: white;
    border-color: white; }
  .btn-default .badge {
    color: white;
    background-color: #102F52; }

.btn-primary {
  color: white;
  background-color: #00ADE6;
  border-color: #102F52;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle .btn-primary {
    color: white;
    background-color: #009acd;
    border-color: #0a1e34; }
  .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle .btn-primary {
    background-image: none; }
  .btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled].focus, .btn-primary[disabled]:active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary.active {
    background-color: #00ADE6;
    border-color: #102F52; }
  .btn-primary .badge {
    color: #00ADE6;
    background-color: white; }

.btn {
  font-family: 'lato_regular', Arial, sans-serif;
  border: none;
  border-radius: 300px;
  font-weight: 700;
  text-transform: uppercase; }

.btn-xl {
  padding: 15px 30px; }

#contact .fa {
  color: #102F52;
  font-size: 4em; }

::-moz-selection {
  color: white;
  text-shadow: none;
  background: #102F52; }

::selection {
  color: white;
  text-shadow: none;
  background: #102F52; }

img::selection {
  color: white;
  background: transparent; }

img::-moz-selection {
  color: white;
  background: transparent; }

body {
  -webkit-tap-highlight-color: #102F52; }
